nav ul{
    text-decoration: none;
    display: flex;
justify-content: space-between;
}
nav li{
    list-style: none;
}
nav li button{
    background-color:#30B868;
    color: white;
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-style: strong;
    padding: 12 16;
    border-radius: 4px;
}
nav li button:hover{
    background-color:black;
}
.text{
    align-items: top;
    align-items: center;
    gap: 40px;
}
.hero-contain button{
    border-radius: 10px;
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    font-size: 1em;
    align-items: center;
    color: #30B868;
}
 .hero-contain button:hover{
    background-color:black;
}
.hero h1 span{
    color: #30B868;
    font-size: 1.25em;
}
.hero h1{
    font-size: 48px;
margin-bottom: 20px;
color: white;
}
.hero{
    background-image: url("./assets/hero-bg.png");
    height: 500px;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}.hero-contain p{
    color: rgb(214, 212, 212);
}
.hero button{
border-radius: 4px;
background-color:#30B868 ;
color: white;
}
 .note-text{
    justify-content: center;
    align-items: center;
    text-align: center;

}
.card img{
    background-color: red;
   padding: 10px;
    border-radius: 50%; 
}
.card{
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
    height: 200px;
}
.Card-container{
    display: flex;
    gap: 70px;
}
.brain-section{
    display: flex;
    gap: 40px;
    padding: 10px;
}
.brain-section img {
   max-width: 100%;
   height: auto;
}
.brain-section h6{
   width: 700px;
   height: 20px;
}
.brain-section h1{
   width: 700px;
   height: 116px;
}
.brain-section p{
   width: 700px;
   height: 60px;
}
.brain-section ul li img{
   width: 20px;
   height: 20px;
}
.brain-section  li{
   list-style: none;
   text-align: start;
}
footer{
    background:var(--Style, rgba(0, 25, 49, 1));;
   padding: 40px 0 20px; 
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.footer-logo img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-text p{
font-size: 18px;
margin-bottom: 15px;
font-weight: 600;
color: white;
}
.sociallink-icon img{
background-color: white;
border-radius: 15px;
width: 35px;
height: 35px;
cursor: pointer;
}
.sociallink-icon img:hover{
background-color:red;
}
.footer-bottom hr{
    border: none;
    height: 1px;
    background: white;
    margin-bottom: 15px;
}
.footer-bottom p{
    color: white;
}
